@define-mixin in-specific-themes {
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json,
    .zetavg-spacegray-input-vscode-themes-spacegray-input {
        @mixin-content;
    }
}

@define-mixin in-larger-text-themes {
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json,
    .zetavg-spacegray-input-vscode-themes-spacegray-input {
        @mixin-content;
    }
}
