@import "_in-specific-themes.postcss";

@mixin in-specific-themes {
    .action-label.codicon-close:hover {
        background: transparent !important;
        color: var(--vscode-statusBarItem-errorForeground) !important;
    }
}
