.zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-list-row .label-description, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-list-row .label-description {
    opacity: 0.6 !important;
  }
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .statusbar-item-label,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .statusbar-item-label:active,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .statusbar-item-label,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .statusbar-item-label:active {
    background: transparent !important;
  }
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .open-editors .monaco-list-row .action-label:not(:hover), .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .open-editors .monaco-list-row .action-label:not(:hover) {
    color: var(--vscode-icon-foreground) !important;
  }
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .explorer-folders-view .monaco-list-row.selected .label-name, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .explorer-folders-view .monaco-list-row.selected .label-name {
    color: var(--vscode-titleBar-activeForeground);
  }
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .explorer-folders-view .monaco-list-row:hover .label-name, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .explorer-folders-view .monaco-list-row:hover .label-name {
    color: var(--vscode-titleBar-activeForeground);
  }
