.zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .editor-widget.find-widget .monaco-custom-toggle:not(.checked), .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-findInput .monaco-custom-toggle:not(.checked), .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .editor-widget.find-widget .monaco-custom-toggle:not(.checked), .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-findInput .monaco-custom-toggle:not(.checked), .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .editor-widget.find-widget .monaco-custom-toggle:not(.checked), .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-findInput .monaco-custom-toggle:not(.checked), .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .editor-widget.find-widget .monaco-custom-toggle:not(.checked), .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-findInput .monaco-custom-toggle:not(.checked), .zetavg-spacegray-input-vscode-themes-spacegray-input .editor-widget.find-widget .monaco-custom-toggle:not(.checked), .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-findInput .monaco-custom-toggle:not(.checked) {
      color: var(--vscode-icon-foreground) !important;
    }
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .editor-widget.find-widget .controls, .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-findInput .controls, .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .editor-widget.find-widget .controls, .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-findInput .controls, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .editor-widget.find-widget .controls, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-findInput .controls, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .editor-widget.find-widget .controls, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-findInput .controls, .zetavg-spacegray-input-vscode-themes-spacegray-input .editor-widget.find-widget .controls, .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-findInput .controls {
      background: transparent !important;
    }
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .findOptionsWidget, .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .findOptionsWidget, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .findOptionsWidget, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .findOptionsWidget, .zetavg-spacegray-input-vscode-themes-spacegray-input .findOptionsWidget {
    color: var(--vscode-icon-foreground);
  }
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .find-widget, .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .find-widget, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .find-widget, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .find-widget, .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .find-widget {
    border-radius: 4px;
    top: 2px !important;
  }
  /* Rounded Corners for Highlighted Text Background */
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .wordHighlight,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .wordHighlightText,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .wordHighlightStrong,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .hoverHighlight,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .selectionHighlight,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .findMatch,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .currentFindMatch,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .squiggly-error,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .squiggly-error::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .squiggly-warning,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .squiggly-warning::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .squiggly-info,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .squiggly-info::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .squiggly-hint,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .squiggly-hint::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .reference-decoration,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .wordHighlight,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .wordHighlightText,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .wordHighlightStrong,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .hoverHighlight,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .selectionHighlight,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .findMatch,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .currentFindMatch,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .squiggly-error,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .squiggly-error::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .squiggly-warning,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .squiggly-warning::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .squiggly-info,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .squiggly-info::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .squiggly-hint,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .squiggly-hint::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .reference-decoration,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .wordHighlight,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .wordHighlightText,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .wordHighlightStrong,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .hoverHighlight,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .selectionHighlight,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .findMatch,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .currentFindMatch,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .squiggly-error,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .squiggly-error::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .squiggly-warning,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .squiggly-warning::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .squiggly-info,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .squiggly-info::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .squiggly-hint,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .squiggly-hint::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .reference-decoration,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .wordHighlight,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .wordHighlightText,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .wordHighlightStrong,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .hoverHighlight,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .selectionHighlight,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .findMatch,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .currentFindMatch,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .squiggly-error,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .squiggly-error::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .squiggly-warning,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .squiggly-warning::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .squiggly-info,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .squiggly-info::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .squiggly-hint,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .squiggly-hint::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .reference-decoration,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .wordHighlight,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .wordHighlightText,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .wordHighlightStrong,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .hoverHighlight,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .selectionHighlight,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .findMatch,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .currentFindMatch,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .squiggly-error,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .squiggly-error::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .squiggly-warning,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .squiggly-warning::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .squiggly-info,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .squiggly-info::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .squiggly-hint,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .squiggly-hint::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .reference-decoration {
    border-radius: 3px;
  }
  /* Remove Squiggly Underline (~~~~~~~~) for Errors, Warnings, etc. */
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .squiggly-error,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .squiggly-warning,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .squiggly-info,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .squiggly-hint,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .squiggly-error,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .squiggly-warning,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .squiggly-info,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .squiggly-hint,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .squiggly-error,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .squiggly-warning,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .squiggly-info,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .squiggly-hint,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .squiggly-error,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .squiggly-warning,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .squiggly-info,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .squiggly-hint,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .squiggly-error,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .squiggly-warning,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .squiggly-info,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .squiggly-hint {
    background: transparent;
  }
  /* Barket Match - Underline Style */
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .bracket-match, .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .bracket-match, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .bracket-match, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .bracket-match, .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .bracket-match {
    border: 1px solid var(--vscode-editorBracketMatch-border);
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  /* For Ghost Text (autocomplete, etc.), use dotted underline */
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .ghost-text-decoration,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .ghost-text-decoration-preview,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .suggest-preview-text .ghost-text,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .ghost-text-decoration,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .ghost-text-decoration-preview,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .suggest-preview-text .ghost-text,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .ghost-text-decoration,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .ghost-text-decoration-preview,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .suggest-preview-text .ghost-text,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .ghost-text-decoration,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .ghost-text-decoration-preview,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .suggest-preview-text .ghost-text,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .ghost-text-decoration,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .ghost-text-decoration-preview,
    .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .suggest-preview-text .ghost-text {
    border: 0;
    border-bottom: 1px dotted var(--vscode-editorGhostText-border);
  }
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .unexpected-closing-bracket, .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .unexpected-closing-bracket, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .unexpected-closing-bracket, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .unexpected-closing-bracket, .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .unexpected-closing-bracket {
    background-color: var(--vscode-editorGutter-deletedBackground);
    color: var(--vscode-editor-background);
  }
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor.showDeprecated .squiggly-inline-deprecated, .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor.showDeprecated .squiggly-inline-deprecated, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor.showDeprecated .squiggly-inline-deprecated, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor.showDeprecated .squiggly-inline-deprecated, .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor.showDeprecated .squiggly-inline-deprecated {
    text-decoration-color: var(--vscode-editorLineNumber-foreground);
    text-decoration-thickness: from-font;
  }
  /* Make Content in Hover Popup Dimmer */
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-hover-content .hover-contents, .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-hover-content .hover-contents, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-hover-content .hover-contents, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-hover-content .hover-contents, .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-hover-content .hover-contents {
    opacity: 0.9;
  }
  /* Color only the code folding icon, not the entire line */
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .folded-background, .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .folded-background, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .folded-background, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .folded-background, .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .folded-background {
    background: transparent;
  }
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .inline-folded::after, .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .inline-folded::after, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .inline-folded::after, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .inline-folded::after, .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .inline-folded::after {
    background-color: var(--vscode-editor-foldBackground);
    display: inline-block;
    width: 20px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    margin-bottom: 3px;
  }
  /* ? */
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .dirty-diff-glyph, .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .dirty-diff-glyph, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .dirty-diff-glyph, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .dirty-diff-glyph, .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .dirty-diff-glyph {
    left: 0 !important;
    margin: 0 !important;
    border-left-width: 2px !important;
  }
  /* Bookmark Icon */
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .ced-1-TextEditorDecorationType928-2, .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .ced-1-TextEditorDecorationType928-2, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .ced-1-TextEditorDecorationType928-2, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .ced-1-TextEditorDecorationType928-2, .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .ced-1-TextEditorDecorationType928-2 {
    mix-blend-mode: luminosity;
  }
  /* Dotted Ruler */
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .view-ruler, .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .view-ruler, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .view-ruler, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .view-ruler, .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .view-ruler {
    box-shadow: none;
    border-left: 1px dotted var(--vscode-editorRuler-foreground);
  }
  /* Dotted Indent Guides */
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .lines-content .view-overlays > div:nth-child(n) .core-guide-indent, .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .lines-content .view-overlays > div:nth-child(n) .core-guide-indent, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .lines-content .view-overlays > div:nth-child(n) .core-guide-indent, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .lines-content .view-overlays > div:nth-child(n) .core-guide-indent, .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .lines-content .view-overlays > div:nth-child(n) .core-guide-indent {
      box-shadow: none;
    }
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .lines-content .view-overlays > div:nth-child(n) .core-guide-indent::after, .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .lines-content .view-overlays > div:nth-child(n) .core-guide-indent::after, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .lines-content .view-overlays > div:nth-child(n) .core-guide-indent::after, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .lines-content .view-overlays > div:nth-child(n) .core-guide-indent::after, .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .lines-content .view-overlays > div:nth-child(n) .core-guide-indent::after {
        content: '';
        position: absolute;
        width: 2px;
        top: 0;
        bottom: 0;
        border-left: 1px dotted var(--indent-color);
      }
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-editor .lines-content .view-overlays > div:nth-child(2n) .core-guide-indent::after, .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .monaco-editor .lines-content .view-overlays > div:nth-child(2n) .core-guide-indent::after, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-editor .lines-content .view-overlays > div:nth-child(2n) .core-guide-indent::after, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .monaco-editor .lines-content .view-overlays > div:nth-child(2n) .core-guide-indent::after, .zetavg-spacegray-input-vscode-themes-spacegray-input .monaco-editor .lines-content .view-overlays > div:nth-child(2n) .core-guide-indent::after {
        top: 1px;
        bottom: 1px;
      }
