@import "_in-specific-themes.postcss";

.mac {
    > .debug-toolbar {
        top: 5px !important;
        left: 54px !important;
        background: transparent !important;
        box-shadow: none !important;

        .drag-area {
            opacity: 0;
            pointer-events: none;
        }
    }
}
