.mac {
  font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 300;
}

.mac:lang(zh-Hans) {
  font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, sans-serif;
  font-weight: 300;
}

.mac:lang(zh-Hant) {
  font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, PingFang TC, sans-serif;
  font-weight: 300;
}

.mac:lang(ja) {
  font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, Hiragino Kaku Gothic Pro, sans-serif;
  font-weight: 300;
}

.mac:lang(ko) {
  font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, Nanum Gothic, Apple SD Gothic Neo, AppleGothic, sans-serif;
  font-weight: 300;
}

.windows {
  font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, sans-serif;
  font-weight: 300;
}

.windows:lang(zh-Hans) {
  font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif;
  font-weight: 300;
}

.windows:lang(zh-Hant) {
  font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Microsoft Jhenghei, sans-serif;
  font-weight: 300;
}

.windows:lang(ja) {
  font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Yu Gothic UI, Meiryo UI, sans-serif;
  font-weight: 300;
}

.windows:lang(ko) {
  font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Malgun Gothic, Dotom, sans-serif;
  font-weight: 300;
}

.linux {
  font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, sans-serif;
  font-weight: 300;
}

.linux:lang(zh-Hans) {
  font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans SC, Source Han Sans CN, Source Han Sans, sans-serif;
  font-weight: 300;
}

.linux:lang(zh-Hant) {
  font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans TC, Source Han Sans TW, Source Han Sans, sans-serif;
  font-weight: 300;
}

.linux:lang(ja) {
  font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans J, Source Han Sans JP, Source Han Sans, sans-serif;
  font-weight: 300;
}

.linux:lang(ko) {
  font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans K, Source Han Sans JR, Source Han Sans, UnDotum, FBaekmuk Gulim, sans-serif;
  font-weight: 300;
}

.mac {
  --monaco-monospace-font: InputMono-ExtraLight, "Input Mono", "SF Mono", Monaco, Menlo, Courier, monospace;
}

.windows {
  --monaco-monospace-font: InputMono-ExtraLight, "Input Mono", Consolas, "Courier New", monospace;
}

.linux {
  --monaco-monospace-font: InputMono-ExtraLight, "Input Mono", "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace;
}

.monaco-workbench .part > .content {
  font-size: 12px;
}

.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab .tab-label a,
.monaco-workbench .part.editor > .content .editor-group-container > .title .title-label a {
  font-size: 12px;
}


/**
* Buttons
*/

.mac .monaco-button:not(.codicon) {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, sans-serif;
  }

.mac:lang(zh-Hans) .monaco-button:not(.codicon) {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, sans-serif;
  }

.mac:lang(zh-Hant) .monaco-button:not(.codicon) {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, PingFang TC, sans-serif;
  }

.mac:lang(ja) .monaco-button:not(.codicon) {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, Hiragino Kaku Gothic Pro, sans-serif;
  }

.mac:lang(ko) .monaco-button:not(.codicon) {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, Nanum Gothic, Apple SD Gothic Neo, AppleGothic, sans-serif;
  }

.windows .monaco-button:not(.codicon) {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, sans-serif;
  }

.windows:lang(zh-Hans) .monaco-button:not(.codicon) {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif;
  }

.windows:lang(zh-Hant) .monaco-button:not(.codicon) {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Microsoft Jhenghei, sans-serif;
  }

.windows:lang(ja) .monaco-button:not(.codicon) {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Yu Gothic UI, Meiryo UI, sans-serif;
  }

.windows:lang(ko) .monaco-button:not(.codicon) {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Malgun Gothic, Dotom, sans-serif;
  }

.linux .monaco-button:not(.codicon) {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, sans-serif;
  }

.linux:lang(zh-Hans) .monaco-button:not(.codicon) {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans SC, Source Han Sans CN, Source Han Sans, sans-serif;
  }

.linux:lang(zh-Hant) .monaco-button:not(.codicon) {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans TC, Source Han Sans TW, Source Han Sans, sans-serif;
  }

.linux:lang(ja) .monaco-button:not(.codicon) {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans J, Source Han Sans JP, Source Han Sans, sans-serif;
  }

.linux:lang(ko) .monaco-button:not(.codicon) {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans K, Source Han Sans JR, Source Han Sans, UnDotum, FBaekmuk Gulim, sans-serif;
  }

.monaco-button:not(.codicon) {
  font-weight: 500;
}

.monaco-text-button {
  padding: 4px 14px 2px !important;
}

.mac .action-label:not(.codicon) {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, sans-serif;
  }

.mac:lang(zh-Hans) .action-label:not(.codicon) {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, sans-serif;
  }

.mac:lang(zh-Hant) .action-label:not(.codicon) {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, PingFang TC, sans-serif;
  }

.mac:lang(ja) .action-label:not(.codicon) {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, Hiragino Kaku Gothic Pro, sans-serif;
  }

.mac:lang(ko) .action-label:not(.codicon) {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, Nanum Gothic, Apple SD Gothic Neo, AppleGothic, sans-serif;
  }

.windows .action-label:not(.codicon) {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, sans-serif;
  }

.windows:lang(zh-Hans) .action-label:not(.codicon) {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif;
  }

.windows:lang(zh-Hant) .action-label:not(.codicon) {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Microsoft Jhenghei, sans-serif;
  }

.windows:lang(ja) .action-label:not(.codicon) {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Yu Gothic UI, Meiryo UI, sans-serif;
  }

.windows:lang(ko) .action-label:not(.codicon) {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Malgun Gothic, Dotom, sans-serif;
  }

.linux .action-label:not(.codicon) {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, sans-serif;
  }

.linux:lang(zh-Hans) .action-label:not(.codicon) {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans SC, Source Han Sans CN, Source Han Sans, sans-serif;
  }

.linux:lang(zh-Hant) .action-label:not(.codicon) {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans TC, Source Han Sans TW, Source Han Sans, sans-serif;
  }

.linux:lang(ja) .action-label:not(.codicon) {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans J, Source Han Sans JP, Source Han Sans, sans-serif;
  }

.linux:lang(ko) .action-label:not(.codicon) {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans K, Source Han Sans JR, Source Han Sans, UnDotum, FBaekmuk Gulim, sans-serif;
  }

.action-label:not(.codicon) {
  font-weight: 500;
}


/**
* General
*/

.monaco-hover-content {
    /* @mixin font InputMonoNarrow-Light; */
}

.mac .monaco-hover-content {
    font-family: "Input Mono Narrow", -apple-system, BlinkMacSystemFont, sans-serif;
  }

.mac:lang(zh-Hans) .monaco-hover-content {
    font-family: "Input Mono Narrow", -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, sans-serif;
  }

.mac:lang(zh-Hant) .monaco-hover-content {
    font-family: "Input Mono Narrow", -apple-system, BlinkMacSystemFont, PingFang TC, sans-serif;
  }

.mac:lang(ja) .monaco-hover-content {
    font-family: "Input Mono Narrow", -apple-system, BlinkMacSystemFont, Hiragino Kaku Gothic Pro, sans-serif;
  }

.mac:lang(ko) .monaco-hover-content {
    font-family: "Input Mono Narrow", -apple-system, BlinkMacSystemFont, Nanum Gothic, Apple SD Gothic Neo, AppleGothic, sans-serif;
  }

.windows .monaco-hover-content {
    font-family: "Input Mono Narrow", Segoe WPC, Segoe UI, sans-serif;
  }

.windows:lang(zh-Hans) .monaco-hover-content {
    font-family: "Input Mono Narrow", Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif;
  }

.windows:lang(zh-Hant) .monaco-hover-content {
    font-family: "Input Mono Narrow", Segoe WPC, Segoe UI, Microsoft Jhenghei, sans-serif;
  }

.windows:lang(ja) .monaco-hover-content {
    font-family: "Input Mono Narrow", Segoe WPC, Segoe UI, Yu Gothic UI, Meiryo UI, sans-serif;
  }

.windows:lang(ko) .monaco-hover-content {
    font-family: "Input Mono Narrow", Segoe WPC, Segoe UI, Malgun Gothic, Dotom, sans-serif;
  }

.linux .monaco-hover-content {
    font-family: "Input Mono Narrow", system-ui, Ubuntu, Droid Sans, sans-serif;
  }

.linux:lang(zh-Hans) .monaco-hover-content {
    font-family: "Input Mono Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans SC, Source Han Sans CN, Source Han Sans, sans-serif;
  }

.linux:lang(zh-Hant) .monaco-hover-content {
    font-family: "Input Mono Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans TC, Source Han Sans TW, Source Han Sans, sans-serif;
  }

.linux:lang(ja) .monaco-hover-content {
    font-family: "Input Mono Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans J, Source Han Sans JP, Source Han Sans, sans-serif;
  }

.linux:lang(ko) .monaco-hover-content {
    font-family: "Input Mono Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans K, Source Han Sans JR, Source Han Sans, UnDotum, FBaekmuk Gulim, sans-serif;
  }

.monaco-hover-content {
  font-weight: 300;
}

.mac .monaco-workbench .part.statusbar {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, sans-serif;
  }

.mac:lang(zh-Hans) .monaco-workbench .part.statusbar {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, sans-serif;
  }

.mac:lang(zh-Hant) .monaco-workbench .part.statusbar {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, PingFang TC, sans-serif;
  }

.mac:lang(ja) .monaco-workbench .part.statusbar {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, Hiragino Kaku Gothic Pro, sans-serif;
  }

.mac:lang(ko) .monaco-workbench .part.statusbar {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, Nanum Gothic, Apple SD Gothic Neo, AppleGothic, sans-serif;
  }

.windows .monaco-workbench .part.statusbar {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, sans-serif;
  }

.windows:lang(zh-Hans) .monaco-workbench .part.statusbar {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif;
  }

.windows:lang(zh-Hant) .monaco-workbench .part.statusbar {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Microsoft Jhenghei, sans-serif;
  }

.windows:lang(ja) .monaco-workbench .part.statusbar {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Yu Gothic UI, Meiryo UI, sans-serif;
  }

.windows:lang(ko) .monaco-workbench .part.statusbar {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Malgun Gothic, Dotom, sans-serif;
  }

.linux .monaco-workbench .part.statusbar {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, sans-serif;
  }

.linux:lang(zh-Hans) .monaco-workbench .part.statusbar {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans SC, Source Han Sans CN, Source Han Sans, sans-serif;
  }

.linux:lang(zh-Hant) .monaco-workbench .part.statusbar {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans TC, Source Han Sans TW, Source Han Sans, sans-serif;
  }

.linux:lang(ja) .monaco-workbench .part.statusbar {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans J, Source Han Sans JP, Source Han Sans, sans-serif;
  }

.linux:lang(ko) .monaco-workbench .part.statusbar {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans K, Source Han Sans JR, Source Han Sans, UnDotum, FBaekmuk Gulim, sans-serif;
  }

.monaco-workbench .part.statusbar {
  font-weight: 200;
  font-size: 11px;
}

.monaco-workbench .part.statusbar > .items-container > .statusbar-item span.codicon {
  font-size: 11px;
}

.mac .monaco-list-row .label-description {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, sans-serif;
  }

.mac:lang(zh-Hans) .monaco-list-row .label-description {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, sans-serif;
  }

.mac:lang(zh-Hant) .monaco-list-row .label-description {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, PingFang TC, sans-serif;
  }

.mac:lang(ja) .monaco-list-row .label-description {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, Hiragino Kaku Gothic Pro, sans-serif;
  }

.mac:lang(ko) .monaco-list-row .label-description {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, Nanum Gothic, Apple SD Gothic Neo, AppleGothic, sans-serif;
  }

.windows .monaco-list-row .label-description {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, sans-serif;
  }

.windows:lang(zh-Hans) .monaco-list-row .label-description {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif;
  }

.windows:lang(zh-Hant) .monaco-list-row .label-description {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Microsoft Jhenghei, sans-serif;
  }

.windows:lang(ja) .monaco-list-row .label-description {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Yu Gothic UI, Meiryo UI, sans-serif;
  }

.windows:lang(ko) .monaco-list-row .label-description {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Malgun Gothic, Dotom, sans-serif;
  }

.linux .monaco-list-row .label-description {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, sans-serif;
  }

.linux:lang(zh-Hans) .monaco-list-row .label-description {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans SC, Source Han Sans CN, Source Han Sans, sans-serif;
  }

.linux:lang(zh-Hant) .monaco-list-row .label-description {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans TC, Source Han Sans TW, Source Han Sans, sans-serif;
  }

.linux:lang(ja) .monaco-list-row .label-description {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans J, Source Han Sans JP, Source Han Sans, sans-serif;
  }

.linux:lang(ko) .monaco-list-row .label-description {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans K, Source Han Sans JR, Source Han Sans, UnDotum, FBaekmuk Gulim, sans-serif;
  }

.monaco-list-row .label-description {
  font-weight: 200;
}

.mac .setting-item-title .setting-item-cat-label-container {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, sans-serif;
  }

.mac:lang(zh-Hans) .setting-item-title .setting-item-cat-label-container {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, sans-serif;
  }

.mac:lang(zh-Hant) .setting-item-title .setting-item-cat-label-container {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, PingFang TC, sans-serif;
  }

.mac:lang(ja) .setting-item-title .setting-item-cat-label-container {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, Hiragino Kaku Gothic Pro, sans-serif;
  }

.mac:lang(ko) .setting-item-title .setting-item-cat-label-container {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, Nanum Gothic, Apple SD Gothic Neo, AppleGothic, sans-serif;
  }

.windows .setting-item-title .setting-item-cat-label-container {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, sans-serif;
  }

.windows:lang(zh-Hans) .setting-item-title .setting-item-cat-label-container {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif;
  }

.windows:lang(zh-Hant) .setting-item-title .setting-item-cat-label-container {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Microsoft Jhenghei, sans-serif;
  }

.windows:lang(ja) .setting-item-title .setting-item-cat-label-container {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Yu Gothic UI, Meiryo UI, sans-serif;
  }

.windows:lang(ko) .setting-item-title .setting-item-cat-label-container {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Malgun Gothic, Dotom, sans-serif;
  }

.linux .setting-item-title .setting-item-cat-label-container {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, sans-serif;
  }

.linux:lang(zh-Hans) .setting-item-title .setting-item-cat-label-container {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans SC, Source Han Sans CN, Source Han Sans, sans-serif;
  }

.linux:lang(zh-Hant) .setting-item-title .setting-item-cat-label-container {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans TC, Source Han Sans TW, Source Han Sans, sans-serif;
  }

.linux:lang(ja) .setting-item-title .setting-item-cat-label-container {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans J, Source Han Sans JP, Source Han Sans, sans-serif;
  }

.linux:lang(ko) .setting-item-title .setting-item-cat-label-container {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans K, Source Han Sans JR, Source Han Sans, UnDotum, FBaekmuk Gulim, sans-serif;
  }

.setting-item-title .setting-item-cat-label-container {
  font-weight: 400;
}

.mac .action-widget .monaco-list-row.group-header {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, sans-serif;
  }

.mac:lang(zh-Hans) .action-widget .monaco-list-row.group-header {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, sans-serif;
  }

.mac:lang(zh-Hant) .action-widget .monaco-list-row.group-header {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, PingFang TC, sans-serif;
  }

.mac:lang(ja) .action-widget .monaco-list-row.group-header {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, Hiragino Kaku Gothic Pro, sans-serif;
  }

.mac:lang(ko) .action-widget .monaco-list-row.group-header {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, Nanum Gothic, Apple SD Gothic Neo, AppleGothic, sans-serif;
  }

.windows .action-widget .monaco-list-row.group-header {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, sans-serif;
  }

.windows:lang(zh-Hans) .action-widget .monaco-list-row.group-header {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif;
  }

.windows:lang(zh-Hant) .action-widget .monaco-list-row.group-header {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Microsoft Jhenghei, sans-serif;
  }

.windows:lang(ja) .action-widget .monaco-list-row.group-header {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Yu Gothic UI, Meiryo UI, sans-serif;
  }

.windows:lang(ko) .action-widget .monaco-list-row.group-header {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Malgun Gothic, Dotom, sans-serif;
  }

.linux .action-widget .monaco-list-row.group-header {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, sans-serif;
  }

.linux:lang(zh-Hans) .action-widget .monaco-list-row.group-header {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans SC, Source Han Sans CN, Source Han Sans, sans-serif;
  }

.linux:lang(zh-Hant) .action-widget .monaco-list-row.group-header {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans TC, Source Han Sans TW, Source Han Sans, sans-serif;
  }

.linux:lang(ja) .action-widget .monaco-list-row.group-header {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans J, Source Han Sans JP, Source Han Sans, sans-serif;
  }

.linux:lang(ko) .action-widget .monaco-list-row.group-header {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans K, Source Han Sans JR, Source Han Sans, UnDotum, FBaekmuk Gulim, sans-serif;
  }

.action-widget .monaco-list-row.group-header {
  font-weight: 500;
  font-weight: initial;
}

.mac .extension-list-item .footer .action-label {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, sans-serif;
  }

.mac:lang(zh-Hans) .extension-list-item .footer .action-label {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, sans-serif;
  }

.mac:lang(zh-Hant) .extension-list-item .footer .action-label {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, PingFang TC, sans-serif;
  }

.mac:lang(ja) .extension-list-item .footer .action-label {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, Hiragino Kaku Gothic Pro, sans-serif;
  }

.mac:lang(ko) .extension-list-item .footer .action-label {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, Nanum Gothic, Apple SD Gothic Neo, AppleGothic, sans-serif;
  }

.windows .extension-list-item .footer .action-label {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, sans-serif;
  }

.windows:lang(zh-Hans) .extension-list-item .footer .action-label {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif;
  }

.windows:lang(zh-Hant) .extension-list-item .footer .action-label {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Microsoft Jhenghei, sans-serif;
  }

.windows:lang(ja) .extension-list-item .footer .action-label {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Yu Gothic UI, Meiryo UI, sans-serif;
  }

.windows:lang(ko) .extension-list-item .footer .action-label {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Malgun Gothic, Dotom, sans-serif;
  }

.linux .extension-list-item .footer .action-label {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, sans-serif;
  }

.linux:lang(zh-Hans) .extension-list-item .footer .action-label {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans SC, Source Han Sans CN, Source Han Sans, sans-serif;
  }

.linux:lang(zh-Hant) .extension-list-item .footer .action-label {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans TC, Source Han Sans TW, Source Han Sans, sans-serif;
  }

.linux:lang(ja) .extension-list-item .footer .action-label {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans J, Source Han Sans JP, Source Han Sans, sans-serif;
  }

.linux:lang(ko) .extension-list-item .footer .action-label {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans K, Source Han Sans JR, Source Han Sans, UnDotum, FBaekmuk Gulim, sans-serif;
  }

.extension-list-item .footer .action-label {
  font-weight: 500;
}

.extension-list-item .footer .publisher-name {
  line-height: 12px;
}


/**
* Tab
*/

.mac .tabs .tab {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, sans-serif;
  }

.mac:lang(zh-Hans) .tabs .tab {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, sans-serif;
  }

.mac:lang(zh-Hant) .tabs .tab {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, PingFang TC, sans-serif;
  }

.mac:lang(ja) .tabs .tab {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, Hiragino Kaku Gothic Pro, sans-serif;
  }

.mac:lang(ko) .tabs .tab {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, Nanum Gothic, Apple SD Gothic Neo, AppleGothic, sans-serif;
  }

.windows .tabs .tab {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, sans-serif;
  }

.windows:lang(zh-Hans) .tabs .tab {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif;
  }

.windows:lang(zh-Hant) .tabs .tab {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Microsoft Jhenghei, sans-serif;
  }

.windows:lang(ja) .tabs .tab {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Yu Gothic UI, Meiryo UI, sans-serif;
  }

.windows:lang(ko) .tabs .tab {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Malgun Gothic, Dotom, sans-serif;
  }

.linux .tabs .tab {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, sans-serif;
  }

.linux:lang(zh-Hans) .tabs .tab {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans SC, Source Han Sans CN, Source Han Sans, sans-serif;
  }

.linux:lang(zh-Hant) .tabs .tab {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans TC, Source Han Sans TW, Source Han Sans, sans-serif;
  }

.linux:lang(ja) .tabs .tab {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans J, Source Han Sans JP, Source Han Sans, sans-serif;
  }

.linux:lang(ko) .tabs .tab {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans K, Source Han Sans JR, Source Han Sans, UnDotum, FBaekmuk Gulim, sans-serif;
  }

.tabs .tab {
  font-weight: 200;
}


/**
* Sidebar
*/

.mac .sidebar .title {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, sans-serif;
  }

.mac:lang(zh-Hans) .sidebar .title {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, sans-serif;
  }

.mac:lang(zh-Hant) .sidebar .title {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, PingFang TC, sans-serif;
  }

.mac:lang(ja) .sidebar .title {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, Hiragino Kaku Gothic Pro, sans-serif;
  }

.mac:lang(ko) .sidebar .title {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, Nanum Gothic, Apple SD Gothic Neo, AppleGothic, sans-serif;
  }

.windows .sidebar .title {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, sans-serif;
  }

.windows:lang(zh-Hans) .sidebar .title {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif;
  }

.windows:lang(zh-Hant) .sidebar .title {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Microsoft Jhenghei, sans-serif;
  }

.windows:lang(ja) .sidebar .title {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Yu Gothic UI, Meiryo UI, sans-serif;
  }

.windows:lang(ko) .sidebar .title {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Malgun Gothic, Dotom, sans-serif;
  }

.linux .sidebar .title {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, sans-serif;
  }

.linux:lang(zh-Hans) .sidebar .title {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans SC, Source Han Sans CN, Source Han Sans, sans-serif;
  }

.linux:lang(zh-Hant) .sidebar .title {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans TC, Source Han Sans TW, Source Han Sans, sans-serif;
  }

.linux:lang(ja) .sidebar .title {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans J, Source Han Sans JP, Source Han Sans, sans-serif;
  }

.linux:lang(ko) .sidebar .title {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans K, Source Han Sans JR, Source Han Sans, UnDotum, FBaekmuk Gulim, sans-serif;
  }

.sidebar .title {
  font-weight: 500;
}

.mac .sidebar .pane-body, .mac .sidebar .monaco-scrollable-element .monaco-list-row {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, sans-serif;
  }

.mac:lang(zh-Hans) .sidebar .pane-body, .mac:lang(zh-Hans) .sidebar .monaco-scrollable-element .monaco-list-row {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, sans-serif;
  }

.mac:lang(zh-Hant) .sidebar .pane-body, .mac:lang(zh-Hant) .sidebar .monaco-scrollable-element .monaco-list-row {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, PingFang TC, sans-serif;
  }

.mac:lang(ja) .sidebar .pane-body, .mac:lang(ja) .sidebar .monaco-scrollable-element .monaco-list-row {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, Hiragino Kaku Gothic Pro, sans-serif;
  }

.mac:lang(ko) .sidebar .pane-body, .mac:lang(ko) .sidebar .monaco-scrollable-element .monaco-list-row {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, Nanum Gothic, Apple SD Gothic Neo, AppleGothic, sans-serif;
  }

.windows .sidebar .pane-body, .windows .sidebar .monaco-scrollable-element .monaco-list-row {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, sans-serif;
  }

.windows:lang(zh-Hans) .sidebar .pane-body, .windows:lang(zh-Hans) .sidebar .monaco-scrollable-element .monaco-list-row {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif;
  }

.windows:lang(zh-Hant) .sidebar .pane-body, .windows:lang(zh-Hant) .sidebar .monaco-scrollable-element .monaco-list-row {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Microsoft Jhenghei, sans-serif;
  }

.windows:lang(ja) .sidebar .pane-body, .windows:lang(ja) .sidebar .monaco-scrollable-element .monaco-list-row {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Yu Gothic UI, Meiryo UI, sans-serif;
  }

.windows:lang(ko) .sidebar .pane-body, .windows:lang(ko) .sidebar .monaco-scrollable-element .monaco-list-row {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Malgun Gothic, Dotom, sans-serif;
  }

.linux .sidebar .pane-body, .linux .sidebar .monaco-scrollable-element .monaco-list-row {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, sans-serif;
  }

.linux:lang(zh-Hans) .sidebar .pane-body, .linux:lang(zh-Hans) .sidebar .monaco-scrollable-element .monaco-list-row {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans SC, Source Han Sans CN, Source Han Sans, sans-serif;
  }

.linux:lang(zh-Hant) .sidebar .pane-body, .linux:lang(zh-Hant) .sidebar .monaco-scrollable-element .monaco-list-row {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans TC, Source Han Sans TW, Source Han Sans, sans-serif;
  }

.linux:lang(ja) .sidebar .pane-body, .linux:lang(ja) .sidebar .monaco-scrollable-element .monaco-list-row {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans J, Source Han Sans JP, Source Han Sans, sans-serif;
  }

.linux:lang(ko) .sidebar .pane-body, .linux:lang(ko) .sidebar .monaco-scrollable-element .monaco-list-row {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans K, Source Han Sans JR, Source Han Sans, UnDotum, FBaekmuk Gulim, sans-serif;
  }

.sidebar .pane-body,
.sidebar .monaco-scrollable-element .monaco-list-row {
  font-weight: 200;
}


/**
* Welcome Screen
*/

.gettingStartedCategoriesContainer h1,
.gettingStartedCategoriesContainer h2,
.gettingStartedCategoriesContainer h3,
.gettingStartedCategoriesContainer h4,
.gettingStartedCategoriesContainer .subtitle {
    font-family: "Input Sans Narrow";
    font-weight: 500;
  }


/**
* Dialog
*/

.dialog-message-text {
  font-family: "Input Sans Narrow";
  font-weight: 400;
}

.dialog-message-detail,
.dialog-message-body {
  font-family: "Input Sans Narrow";
  font-weight: 300;
}


/**
* Notification
*/

.mac .notification-list-item-source {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, sans-serif;
  }

.mac:lang(zh-Hans) .notification-list-item-source {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, sans-serif;
  }

.mac:lang(zh-Hant) .notification-list-item-source {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, PingFang TC, sans-serif;
  }

.mac:lang(ja) .notification-list-item-source {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, Hiragino Kaku Gothic Pro, sans-serif;
  }

.mac:lang(ko) .notification-list-item-source {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, Nanum Gothic, Apple SD Gothic Neo, AppleGothic, sans-serif;
  }

.windows .notification-list-item-source {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, sans-serif;
  }

.windows:lang(zh-Hans) .notification-list-item-source {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif;
  }

.windows:lang(zh-Hant) .notification-list-item-source {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Microsoft Jhenghei, sans-serif;
  }

.windows:lang(ja) .notification-list-item-source {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Yu Gothic UI, Meiryo UI, sans-serif;
  }

.windows:lang(ko) .notification-list-item-source {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Malgun Gothic, Dotom, sans-serif;
  }

.linux .notification-list-item-source {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, sans-serif;
  }

.linux:lang(zh-Hans) .notification-list-item-source {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans SC, Source Han Sans CN, Source Han Sans, sans-serif;
  }

.linux:lang(zh-Hant) .notification-list-item-source {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans TC, Source Han Sans TW, Source Han Sans, sans-serif;
  }

.linux:lang(ja) .notification-list-item-source {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans J, Source Han Sans JP, Source Han Sans, sans-serif;
  }

.linux:lang(ko) .notification-list-item-source {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans K, Source Han Sans JR, Source Han Sans, UnDotum, FBaekmuk Gulim, sans-serif;
  }

.notification-list-item-source {
  font-weight: 200;
  opacity: 0.5;
}

.mac .notification-list-item-message {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, sans-serif;
  }

.mac:lang(zh-Hans) .notification-list-item-message {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, sans-serif;
  }

.mac:lang(zh-Hant) .notification-list-item-message {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, PingFang TC, sans-serif;
  }

.mac:lang(ja) .notification-list-item-message {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, Hiragino Kaku Gothic Pro, sans-serif;
  }

.mac:lang(ko) .notification-list-item-message {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, Nanum Gothic, Apple SD Gothic Neo, AppleGothic, sans-serif;
  }

.windows .notification-list-item-message {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, sans-serif;
  }

.windows:lang(zh-Hans) .notification-list-item-message {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif;
  }

.windows:lang(zh-Hant) .notification-list-item-message {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Microsoft Jhenghei, sans-serif;
  }

.windows:lang(ja) .notification-list-item-message {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Yu Gothic UI, Meiryo UI, sans-serif;
  }

.windows:lang(ko) .notification-list-item-message {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Malgun Gothic, Dotom, sans-serif;
  }

.linux .notification-list-item-message {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, sans-serif;
  }

.linux:lang(zh-Hans) .notification-list-item-message {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans SC, Source Han Sans CN, Source Han Sans, sans-serif;
  }

.linux:lang(zh-Hant) .notification-list-item-message {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans TC, Source Han Sans TW, Source Han Sans, sans-serif;
  }

.linux:lang(ja) .notification-list-item-message {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans J, Source Han Sans JP, Source Han Sans, sans-serif;
  }

.linux:lang(ko) .notification-list-item-message {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans K, Source Han Sans JR, Source Han Sans, UnDotum, FBaekmuk Gulim, sans-serif;
  }

.notification-list-item-message {
  font-weight: 300;
}


/**
* Copilot Chat
*/

.mac .monaco-list[aria-label="Chat"] .interactive-item-container .header {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, sans-serif;
  }

.mac:lang(zh-Hans) .monaco-list[aria-label="Chat"] .interactive-item-container .header {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, sans-serif;
  }

.mac:lang(zh-Hant) .monaco-list[aria-label="Chat"] .interactive-item-container .header {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, PingFang TC, sans-serif;
  }

.mac:lang(ja) .monaco-list[aria-label="Chat"] .interactive-item-container .header {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, Hiragino Kaku Gothic Pro, sans-serif;
  }

.mac:lang(ko) .monaco-list[aria-label="Chat"] .interactive-item-container .header {
    font-family: "Input Sans Narrow", -apple-system, BlinkMacSystemFont, Nanum Gothic, Apple SD Gothic Neo, AppleGothic, sans-serif;
  }

.windows .monaco-list[aria-label="Chat"] .interactive-item-container .header {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, sans-serif;
  }

.windows:lang(zh-Hans) .monaco-list[aria-label="Chat"] .interactive-item-container .header {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif;
  }

.windows:lang(zh-Hant) .monaco-list[aria-label="Chat"] .interactive-item-container .header {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Microsoft Jhenghei, sans-serif;
  }

.windows:lang(ja) .monaco-list[aria-label="Chat"] .interactive-item-container .header {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Yu Gothic UI, Meiryo UI, sans-serif;
  }

.windows:lang(ko) .monaco-list[aria-label="Chat"] .interactive-item-container .header {
    font-family: "Input Sans Narrow", Segoe WPC, Segoe UI, Malgun Gothic, Dotom, sans-serif;
  }

.linux .monaco-list[aria-label="Chat"] .interactive-item-container .header {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, sans-serif;
  }

.linux:lang(zh-Hans) .monaco-list[aria-label="Chat"] .interactive-item-container .header {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans SC, Source Han Sans CN, Source Han Sans, sans-serif;
  }

.linux:lang(zh-Hant) .monaco-list[aria-label="Chat"] .interactive-item-container .header {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans TC, Source Han Sans TW, Source Han Sans, sans-serif;
  }

.linux:lang(ja) .monaco-list[aria-label="Chat"] .interactive-item-container .header {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans J, Source Han Sans JP, Source Han Sans, sans-serif;
  }

.linux:lang(ko) .monaco-list[aria-label="Chat"] .interactive-item-container .header {
    font-family: "Input Sans Narrow", system-ui, Ubuntu, Droid Sans, Source Han Sans K, Source Han Sans JR, Source Han Sans, UnDotum, FBaekmuk Gulim, sans-serif;
  }

.monaco-list[aria-label="Chat"] .interactive-item-container .header {
  font-weight: 500;
  color: var(--vscode-search-resultsInfoForeground);
}

.mac .monaco-list[aria-label="Chat"] .interactive-item-container .value {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, sans-serif;
  }

.mac:lang(zh-Hans) .monaco-list[aria-label="Chat"] .interactive-item-container .value {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, sans-serif;
  }

.mac:lang(zh-Hant) .monaco-list[aria-label="Chat"] .interactive-item-container .value {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, PingFang TC, sans-serif;
  }

.mac:lang(ja) .monaco-list[aria-label="Chat"] .interactive-item-container .value {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, Hiragino Kaku Gothic Pro, sans-serif;
  }

.mac:lang(ko) .monaco-list[aria-label="Chat"] .interactive-item-container .value {
    font-family: "Input Sans Condensed", -apple-system, BlinkMacSystemFont, Nanum Gothic, Apple SD Gothic Neo, AppleGothic, sans-serif;
  }

.windows .monaco-list[aria-label="Chat"] .interactive-item-container .value {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, sans-serif;
  }

.windows:lang(zh-Hans) .monaco-list[aria-label="Chat"] .interactive-item-container .value {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif;
  }

.windows:lang(zh-Hant) .monaco-list[aria-label="Chat"] .interactive-item-container .value {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Microsoft Jhenghei, sans-serif;
  }

.windows:lang(ja) .monaco-list[aria-label="Chat"] .interactive-item-container .value {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Yu Gothic UI, Meiryo UI, sans-serif;
  }

.windows:lang(ko) .monaco-list[aria-label="Chat"] .interactive-item-container .value {
    font-family: "Input Sans Condensed", Segoe WPC, Segoe UI, Malgun Gothic, Dotom, sans-serif;
  }

.linux .monaco-list[aria-label="Chat"] .interactive-item-container .value {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, sans-serif;
  }

.linux:lang(zh-Hans) .monaco-list[aria-label="Chat"] .interactive-item-container .value {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans SC, Source Han Sans CN, Source Han Sans, sans-serif;
  }

.linux:lang(zh-Hant) .monaco-list[aria-label="Chat"] .interactive-item-container .value {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans TC, Source Han Sans TW, Source Han Sans, sans-serif;
  }

.linux:lang(ja) .monaco-list[aria-label="Chat"] .interactive-item-container .value {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans J, Source Han Sans JP, Source Han Sans, sans-serif;
  }

.linux:lang(ko) .monaco-list[aria-label="Chat"] .interactive-item-container .value {
    font-family: "Input Sans Condensed", system-ui, Ubuntu, Droid Sans, Source Han Sans K, Source Han Sans JR, Source Han Sans, UnDotum, FBaekmuk Gulim, sans-serif;
  }

.monaco-list[aria-label="Chat"] .interactive-item-container .value {
  font-weight: 300;
  color: var(--vscode-search-resultsInfoForeground);
}
