.mac {
    font-family: InputSansCondensed-Light, -apple-system, BlinkMacSystemFont, sans-serif
}

.mac:lang(zh-Hans) {
    font-family: InputSansCondensed-Light, -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, sans-serif
}

.mac:lang(zh-Hant) {
    font-family: InputSansCondensed-Light, -apple-system, BlinkMacSystemFont, PingFang TC, sans-serif
}

.mac:lang(ja) {
    font-family: InputSansCondensed-Light, -apple-system, BlinkMacSystemFont, Hiragino Kaku Gothic Pro, sans-serif
}

.mac:lang(ko) {
    font-family: InputSansCondensed-Light, -apple-system, BlinkMacSystemFont, Nanum Gothic, Apple SD Gothic Neo, AppleGothic, sans-serif
}

.windows {
    font-family: InputSansCondensed-Light, Segoe WPC, Segoe UI, sans-serif
}

.windows:lang(zh-Hans) {
    font-family: InputSansCondensed-Light, Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif
}

.windows:lang(zh-Hant) {
    font-family: InputSansCondensed-Light, Segoe WPC, Segoe UI, Microsoft Jhenghei, sans-serif
}

.windows:lang(ja) {
    font-family: InputSansCondensed-Light, Segoe WPC, Segoe UI, Yu Gothic UI, Meiryo UI, sans-serif
}

.windows:lang(ko) {
    font-family: InputSansCondensed-Light, Segoe WPC, Segoe UI, Malgun Gothic, Dotom, sans-serif
}

.linux {
    font-family: InputSansCondensed-Light, system-ui, Ubuntu, Droid Sans, sans-serif
}

.linux:lang(zh-Hans) {
    font-family: InputSansCondensed-Light, system-ui, Ubuntu, Droid Sans, Source Han Sans SC, Source Han Sans CN, Source Han Sans, sans-serif
}

.linux:lang(zh-Hant) {
    font-family: InputSansCondensed-Light, system-ui, Ubuntu, Droid Sans, Source Han Sans TC, Source Han Sans TW, Source Han Sans, sans-serif
}

.linux:lang(ja) {
    font-family: InputSansCondensed-Light, system-ui, Ubuntu, Droid Sans, Source Han Sans J, Source Han Sans JP, Source Han Sans, sans-serif
}

.linux:lang(ko) {
    font-family: InputSansCondensed-Light, system-ui, Ubuntu, Droid Sans, Source Han Sans K, Source Han Sans JR, Source Han Sans, UnDotum, FBaekmuk Gulim, sans-serif
}

.mac {
    --monaco-monospace-font: InputMono-ExtraLight, "SF Mono", Monaco, Menlo, Courier, monospace
}

.windows {
    --monaco-monospace-font: InputMono-ExtraLight, Consolas, "Courier New", monospace
}

.linux {
    --monaco-monospace-font: InputMono-ExtraLight, "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace
}
