/* .part.editor {
        .split-view-view .view-lines.monaco-mouse-cursor-text {
            font-family: "Input Mono Narrow", "Input Mono", Menlo, Monaco, "Courier New", monospace !important;
        }

        .split-view-view:only-child .view-lines.monaco-mouse-cursor-text {
            font-family: "Input Mono", Menlo, Monaco, "Courier New", monospace !important;
        }
    } */
  /* font-size: 12.8px !important; */
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .interactive-session .rendered-markdown .view-lines, .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-lt-json .interactive-session .rendered-markdown .view-lines, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .interactive-session .rendered-markdown .view-lines, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-lt-json .interactive-session .rendered-markdown .view-lines, .zetavg-spacegray-input-vscode-themes-spacegray-input .interactive-session .rendered-markdown .view-lines {
      font-family: "Input Mono Narrow", "Input Mono", Menlo, Monaco, "Courier New", monospace !important;
      font-weight: 300 !important;
            /* font-size: 12.8px !important; */
    }
