.ionutvmi-spacegray-vscode-themes-base16-ocean-dark-json .monaco-breadcrumb-item .outline-element-icon::before,
    .ionutvmi-spacegray-vscode-themes-base16-ocean-dark-json .monaco-breadcrumb-item .monaco-icon-label::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-breadcrumb-item .outline-element-icon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .monaco-breadcrumb-item .monaco-icon-label::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-breadcrumb-item .outline-element-icon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .monaco-breadcrumb-item .monaco-icon-label::before {
    opacity: 0.7;
  }
  .ionutvmi-spacegray-vscode-themes-base16-ocean-dark-json .sidebar .monaco-list .monaco-list-row.dirty:not(:hover) > .monaco-action-bar .codicon-close:before, .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .sidebar .monaco-list .monaco-list-row.dirty:not(:hover) > .monaco-action-bar .codicon-close:before, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .sidebar .monaco-list .monaco-list-row.dirty:not(:hover) > .monaco-action-bar .codicon-close:before {
    opacity: 0.6;
  }
  .ionutvmi-spacegray-vscode-themes-base16-ocean-dark-json .sidebar .monaco-list-row .monaco-icon-label::before,
    .ionutvmi-spacegray-vscode-themes-base16-ocean-dark-json .sidebar .monaco-list-row .outline-element-icon::before,
    .ionutvmi-spacegray-vscode-themes-base16-ocean-dark-json .sidebar .monaco-list-row .codicon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .sidebar .monaco-list-row .monaco-icon-label::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .sidebar .monaco-list-row .outline-element-icon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .sidebar .monaco-list-row .codicon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .sidebar .monaco-list-row .monaco-icon-label::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .sidebar .monaco-list-row .outline-element-icon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .sidebar .monaco-list-row .codicon::before {
    opacity: 0.8;
  }
  .ionutvmi-spacegray-vscode-themes-base16-ocean-dark-json .sidebar .monaco-list-row:hover .monaco-icon-label::before,
    .ionutvmi-spacegray-vscode-themes-base16-ocean-dark-json .sidebar .monaco-list-row.selected .monaco-icon-label::before,
    .ionutvmi-spacegray-vscode-themes-base16-ocean-dark-json .sidebar .monaco-list-row:hover .outline-element-icon::before,
    .ionutvmi-spacegray-vscode-themes-base16-ocean-dark-json .sidebar .monaco-list-row.selected .outline-element-icon::before,
    .ionutvmi-spacegray-vscode-themes-base16-ocean-dark-json .sidebar .monaco-list-row:hover .codicon::before,
    .ionutvmi-spacegray-vscode-themes-base16-ocean-dark-json .sidebar .monaco-list-row.selected .codicon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .sidebar .monaco-list-row:hover .monaco-icon-label::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .sidebar .monaco-list-row.selected .monaco-icon-label::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .sidebar .monaco-list-row:hover .outline-element-icon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .sidebar .monaco-list-row.selected .outline-element-icon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .sidebar .monaco-list-row:hover .codicon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .sidebar .monaco-list-row.selected .codicon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .sidebar .monaco-list-row:hover .monaco-icon-label::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .sidebar .monaco-list-row.selected .monaco-icon-label::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .sidebar .monaco-list-row:hover .outline-element-icon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .sidebar .monaco-list-row.selected .outline-element-icon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .sidebar .monaco-list-row:hover .codicon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .sidebar .monaco-list-row.selected .codicon::before {
    opacity: 1;
  }
  .ionutvmi-spacegray-vscode-themes-base16-ocean-dark-json .sidebar .monaco-list-row .monaco-icon-label::before,
    .ionutvmi-spacegray-vscode-themes-base16-ocean-dark-json .sidebar .monaco-list-row .outline-element-icon::before,
    .ionutvmi-spacegray-vscode-themes-base16-ocean-dark-json .sidebar .monaco-list-row .codicon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .sidebar .monaco-list-row .monaco-icon-label::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .sidebar .monaco-list-row .outline-element-icon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .sidebar .monaco-list-row .codicon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .sidebar .monaco-list-row .monaco-icon-label::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .sidebar .monaco-list-row .outline-element-icon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .sidebar .monaco-list-row .codicon::before {
    opacity: 0.6;
  }
  .ionutvmi-spacegray-vscode-themes-base16-ocean-dark-json .sidebar .monaco-list-row:hover .monaco-icon-label::before,
    .ionutvmi-spacegray-vscode-themes-base16-ocean-dark-json .sidebar .monaco-list-row.selected .monaco-icon-label::before,
    .ionutvmi-spacegray-vscode-themes-base16-ocean-dark-json .sidebar .monaco-list-row:hover .outline-element-icon::before,
    .ionutvmi-spacegray-vscode-themes-base16-ocean-dark-json .sidebar .monaco-list-row.selected .outline-element-icon::before,
    .ionutvmi-spacegray-vscode-themes-base16-ocean-dark-json .sidebar .monaco-list-row:hover .codicon::before,
    .ionutvmi-spacegray-vscode-themes-base16-ocean-dark-json .sidebar .monaco-list-row.selected .codicon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .sidebar .monaco-list-row:hover .monaco-icon-label::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .sidebar .monaco-list-row.selected .monaco-icon-label::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .sidebar .monaco-list-row:hover .outline-element-icon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .sidebar .monaco-list-row.selected .outline-element-icon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .sidebar .monaco-list-row:hover .codicon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .sidebar .monaco-list-row.selected .codicon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .sidebar .monaco-list-row:hover .monaco-icon-label::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .sidebar .monaco-list-row.selected .monaco-icon-label::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .sidebar .monaco-list-row:hover .outline-element-icon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .sidebar .monaco-list-row.selected .outline-element-icon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .sidebar .monaco-list-row:hover .codicon::before,
    .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .sidebar .monaco-list-row.selected .codicon::before {
    opacity: 0.9;
  }
