.ionutvmi-spacegray-vscode-themes-base16-ocean-dark-json,
.zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json,
.zetavg-spacegray-input-vscode-themes-spacegray-input-light-json {
    .pane-body .search-view {
        .findInFileMatch {
            border-radius: 3px;
        }
    }
}
