.zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .part>.title,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .part>.title>.title-actions,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .activitybar .menubar,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .activitybar .menubar.compact .toolbar-toggle-more,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .part.editor>.content .editor-group-container>.editor-group-container-toolbar,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .part.editor>.content .editor-group-container>.title>.label-container,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .part.editor>.content .editor-group-container>.title>.title-actions,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .part.editor>.content .editor-group-container>.title .tabs-container,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .part.editor>.content .editor-group-container>.title .tabs-container>.tab,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .part.editor>.content .editor-group-container>.title .editor-actions,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .part.editor>.content .editor-group-container>.title .monaco-icon-label:before,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .notifications-center>.notifications-center-header,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .part.basepanel>.composite.title>.panel-switcher-container>.monaco-action-bar,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .pane-composite-part>.title>.composite-bar-container>.composite-bar>.monaco-action-bar,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .part>.title,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .part>.title>.title-actions,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .activitybar .menubar,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .activitybar .menubar.compact .toolbar-toggle-more,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .part.editor>.content .editor-group-container>.editor-group-container-toolbar,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .part.editor>.content .editor-group-container>.title>.label-container,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .part.editor>.content .editor-group-container>.title>.title-actions,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .part.editor>.content .editor-group-container>.title .tabs-container,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .part.editor>.content .editor-group-container>.title .tabs-container>.tab,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .part.editor>.content .editor-group-container>.title .editor-actions,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .part.editor>.content .editor-group-container>.title .monaco-icon-label:before,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .notifications-center>.notifications-center-header,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .part.basepanel>.composite.title>.panel-switcher-container>.monaco-action-bar,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .pane-composite-part>.title>.composite-bar-container>.composite-bar>.monaco-action-bar {
    height: 28px;
  }
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .part>.title>.title-label,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .part.editor>.content .editor-group-container>.title>.label-container>.title-label,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .part.editor>.content .editor-group-container>.title .tabs-container>.tab .tab-label,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .part>.title>.title-label,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .part.editor>.content .editor-group-container>.title>.label-container>.title-label,
  .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .part.editor>.content .editor-group-container>.title .tabs-container>.tab .tab-label {
    line-height: 28px;
  }
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json .pane-composite-part>.title>.composite-bar-container>.composite-bar>.monaco-action-bar, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json .pane-composite-part>.title>.composite-bar-container>.composite-bar>.monaco-action-bar {
    line-height: 32px;
  }
  .zetavg-spacegray-input-vscode-themes-spacegray-input-dark-json footer.statusbar, .zetavg-spacegray-input-vscode-themes-spacegray-input-light-json footer.statusbar {
    position: relative;
    top: -7px;
    height: 29px !important;
  }
