@import "_in-specific-themes.postcss";

@mixin in-specific-themes {
    .titlebar-right .actions-container .action-item:not(:hover) {
        opacity: 0.8;
    }

    .titlebar-right .actions-container .action-item:active {
        opacity: 0.9;
    }
}
